@media (min-width: 768px) {
  .container {
    display: flex;
    &__fill {
      flex: 1;
    }
  }
}

.text-box {
  margin-top: 20px;
  &__item {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  &__item2 {
    & + & {
      margin-left: 10px;
    }
  }
  &__output {
    margin-top: 10px;
  }
  &__textarea {
    padding: 8px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
  }
}

.action-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a0a0a0;
}

.button {
  white-space: nowrap;
  & + & {
    margin-left: 15px;
  }
}

.preview-box {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

  &__close {
    position: absolute;
    top: 5px;
    left: -35px;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, .4);
    mask-image: url(./close.svg);
    cursor: pointer;
    z-index: 1;
  }
}

.number-input {
  min-width: 60px;
  font-size: 16px;
}
