<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div>
    <canvas id="canvas" width="561"></canvas>
  </div>
  <div class="container__fill ml15">
    <div>
      <select [(ngModel)]="background" (ngModelChange)="updateBackground($event)">
        <option *ngFor="let item of backgroundList" [ngValue]="item">{{item.name}}</option>
      </select>
      <div class="text-box">
        <div class="text-box__hd">
          <button class="button" (click)="onExport()">导出</button>
          <button [disabled]="!output" class="button" (click)="onImport()">导入</button>
          <button class="button" (click)="onPreview()">预览</button>
          
        </div>
        <div class="text-box__bd">
          <div class="text-box__output">
            <textarea class="text-box__textarea" [(ngModel)]="output" name="" id=""  rows="8"></textarea>
          </div>
          <div class="text-box__item action-box">
            <div class="text-box__item2">
              <button class="button" (click)="onAddItem()">添加</button>
            </div>
            <div class="text-box__item2">
              width:
              <input class="number-input" type="number" min="10" [max]="_canvas.width" [(ngModel)]="width">
            </div>
            <div class="text-box__item2">
              left:
              <input class="number-input" type="number" min="0" [max]="_canvas.width" [(ngModel)]="left">
            </div>
            <div class="text-box__item2">
              top:
              <input class="number-input" type="number" min="0" [max]="_canvas.height" [(ngModel)]="top">
            </div>
            <div class="text-box__item2">
              fontSize: {{fontSize}}
              <div>
                <input type="range" min="12" [max]="40" [(ngModel)]="fontSize">
              </div>
            </div>
          </div>
          <div class="text-box__list">
            <div class="text-box__item" *ngFor="let item of textList">
              <div class="text-box__item2">
                <button class="button" (click)="onRemoveItem(item)">删除</button>
              </div>
              <div class="text-box__item2">{{item.text}}</div>
              <div class="text-box__item2">
                width:
                <input class="number-input" type="number" min="10" [max]="_canvas.width" [value]="item.width | number: '1.0-0'" (input)="onInput(+$event.target.value, 'width', item)">
              </div>
              <div class="text-box__item2">
                left:
                <input class="number-input" type="number" min="0" [max]="_canvas.width" [value]="item.left | number: '1.0-0'" (input)="onInput(+$event.target.value, 'left', item)">
              </div>
              <div class="text-box__item2">
                top:
                <input class="number-input" type="number" min="0" [max]="_canvas.height" [value]="item.top | number: '1.0-0'" (input)="onInput(+$event.target.value, 'top', item)">
              </div>
              <div class="text-box__item2">
                fontSize: {{item.fontSize}}
                <div>
                  <input type="range" min="12" max="40" [value]="item.fontSize" (input)="onInput(+$event.target.value, 'fontSize', item)">
                </div>
              </div>
              <div class="text-box__item2">
                fill: {{item.fill}}
                <input type="color" [value]="item.fill" (input)="onInput($event.target.value, 'fill', item)">
              </div>
              <div class="text-box__item2">
                action:
                <input type="checkbox" [checked]="item.action" (change)="onInput($event.target.checked, 'action', item)">
              </div>
              <div class="text-box__item2">
                set:
                <input type="checkbox" [checked]="item.under" (change)="onSet(item)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
