/* You can add global styles to this file, and also import other style files */
.mr15 {
  margin-right: 15px;
}

.ml15 {
  margin-left: 15px;
}

.flex {
  display: flex;
  &--center {
    align-items: center;
  }
}
